.roboto-thin {
  font-weight: 100;
}
.roboto-light {
  font-weight: 300;
}
.roboto-regular {
  font-weight: 400;
}
.roboto-medium {
  font-weight: 500;
}
html {
  font-family: "PF DinDisplay Pro";
}
body {
  height: 100%;
  width: 100%;
  background-color: #fbfbfd;
  /* max-width: 1200px; */
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1,
h2,
h3,
h4,
ul,
nav {
  margin: 0;
  padding: 0;
}
.toggle-button {
  display: none;
}
.menu-wrap {
  display: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/*-----------------ВОЗВРАТ К ВЕРХУ----------------------*/
#back-top {
  background: url(../img/pointup.png);
  position: fixed;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  bottom: 45px;
  right: 25px;
  width: 44px;
  height: 44px;
  z-index: 10;
}
#back-top:hover {
  cursor: pointer;
  opacity: 1;
  background-position: 0 -44px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
/* ==================================== */
/*		  	  Header		
/* ==================================== */
header {
  width: 100%;
  height: 224px;
  position: relative;
}
.header-top-line {
  max-width: 1190px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.main-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-grow: 2; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-logo img {
  max-height: 110px;
}
.logo-content {
  max-width: 190px;
  text-align: left;
  margin-left: 13px;
}
.logo-content h1,
.logo-content h3 {
  font-size: 19px;
  margin-top: 5px;
  color: #000;
}
.logo-content h2,
.logo-content h4 {
  font-size: 14px;
  color: #717378;
  font-weight: normal;
}
.search-and-social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.search-input {
  /* flex-grow:2; */
  height: 40px;
  width: 100%;
  border-radius: 0;
  padding-left: 13px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #b8bec0;
  font-size: 16px;
}
.search-input::-webkit-input-placeholder {
  color: #999;
}
.search-input:-ms-input-placeholder {
  color: #999;
}
.search-input::-ms-input-placeholder {
  color: #999;
}
.search-input::placeholder {
  color: #999;
}
.form-button-submit {
  border: 0px;
  background: #b8bec0;
  color: white;
  margin: 0;
  padding-left: 40px;
  width: 40px;
  height: 40px;
  outline: none;
  font-size: 0;
  position: relative;
  border-radius: 0;
  /*
  
  border: none;
   */
}
.animate {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.form-button-submit::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 17px;
  height: 17px;
  margin-left: -8.5px;
  margin-top: -8.5px;
  background: url(../img/sprite.png);
  background-position: 0px 0px;
}
.search-form:hover .search-input {
  border: 1px solid #ffc934;
}
.search-form:hover .form-button-submit {
  background: #ffc934;
}
.social {
  /* width: 200px; */
  margin-left: 10px;
}
.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social li .social-icon {
  margin: 0px 3px;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: #b8bec0;
}
.social li .social-icon::before {
  position: absolute;
  content: "";
  top: 50%;
  margin-left: -4.5px;
  margin-top: -10px;
}
.social li.facebook .social-icon::before {
  background: url(../img/sprite.png);
  width: 9px;
  height: 20px;
  left: 50%;
  background-position: -55px 0px;
}
.social li.facebook a:hover .social-icon {
  background-color: #325a94;
}
.social li.youtube_channel .social-icon::before {
  background: url(../img/sprite.png);
  background-position: -24px 0px;
  width: 26px;
  height: 19px;
  left: 30%;
}
.social li.youtube_channel a:hover .social-icon {
  background-color: #e92a0a;
}
.social li.instagram .social-icon::before {
  background: url(../img/sprite.png);
  background-position: -93px 0px;
  width: 19px;
  height: 20px;
  left: 37%;
}
.social li.instagram a:hover .social-icon {
  background: linear-gradient(14deg, #feb419 0%, #ef7d5e 20%, #a033b2 51%, #7a46c1 75%, #555cce 100%);
  background-size: 100%;
}
.social li.twitter .social-icon::before {
  background: url(../img/sprite.png);
  background-position: -70px -2px;
  width: 19px;
  height: 20px;
  left: 38%;
  top: 55%;
}
.social li.twitter a:hover .social-icon {
  background-color: #3ca7e6;
}
.sponsor img {
  max-width: 200px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  /* display: none; */
}
/* ==================================== */
/*		  	  Navigaton Top Menu		
/* ==================================== */
.menu-top-wrap {
  background-color: #27282c;
  height: 54px;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.menu-top {
  margin: 0px auto;
  max-width: 1000px;
  line-height: 54px;
}
.menu-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-top li {
  width: 100%;
  display: block;
  height: 56px;
  text-align: center;
}
.menu-top li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.menu-top li.menu-item:hover:not(.current-menu-item) {
  background: #1c1d21;
  border-bottom: 3px solid #ffc934;
}
li.menu-item:hover > a {
  color: #ffc934;
}
.menu-top li ul li:hover,
.menu-bottom li ul li:hover {
  background: #1c1d21;
}
li ul li:hover a {
  color: #ffc934;
}
li.menu-item.current-menu-item > a {
  color: #ffc934;
}
li.menu-item-has-children {
  position: relative;
}
.menu-top-wrap ul.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 53px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 0;
  list-style: none;
  font-size: 14px;
  background-color: #27282c;
  border-top: 3px solid #ffc934;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
ul.sub-menu li {
  clear: both;
  width: auto;
  text-align: left;
}
ul.sub-menu a {
  padding: 14px 25px;
}
.menu-top-wrap li.menu-item-has-children:hover > ul.sub-menu,
.menu-bottom-wrap li.menu-item-has-children:hover > ul.sub-menu {
  display: block;
  visibility: visible;
  opacity: 1;
}
.menu-top-wrap .menu-top li.menu-item-has-children ul.sub-menu > li:hover {
  background: #1c1d21;
  border-bottom: none;
}
/* ==================================== */
/*		  	  Main part		
/* ==================================== */
main {
  width: 100%;
  /* height: 150px; */
  position: initial;
}
/* Ads */
/*------------------------------------- */
.ads-block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ccc;
}
.ads-block-top img {
  max-width: 100%;
  margin: 15px auto;
}
.info-block-wrap {
  max-width: 1190px;
  margin: auto;
}
.info-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-block-container,
.info-table {
  min-width: 350px;
  width: 30%;
  max-width: 90%;
  height: 200px;
  padding: 1rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin: 15px 0px;
}
.shop {
  width: 100%;
}
.shop img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
}
.breadcrumb-wrapper {
  background: #EEF5F8;
  width: 100%;
}
.breadcrumb {
  max-width: 1190px;
  margin: 0px auto 20px;
  padding: 8px 15px;
  list-style: none;
}
.breadcrumb-wrapper .breadcrumb a,
.breadcrumb-wrapper .breadcrumb span {
  color: #6E6E77;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.pagination-wrapper {
  text-align: center;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination li span,
.pagination li a {
  font-size: 14px;
  color: #717378;
  border: 1px solid #ffc934;
  background: transparent;
}
.pagination > li > a,
.pagination > li > span {
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: 1px;
  margin-right: 1px;
}
.pagination li.pager-first a {
  margin-right: 5px;
  height: 33px;
  width: 68px;
  font-size: 0;
  border: 1px solid #ffc934;
  left: auto;
  right: 0;
  bottom: 100%;
  top: auto;
  z-index: 99;
  border-radius: 0;
  background: url(../img/pointslide2.png);
  background-size: auto 100%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}
.pagination li span,
.pagination li a {
  font-size: 14px;
  color: #717378;
  border: 1px solid #ffc934;
  background: transparent;
}
.pagination li.prev a {
  margin-right: 10px;
  height: 33px;
  width: 34px;
  font-size: 0;
  border: 1px solid #ffc934;
  left: auto;
  right: 0;
  bottom: 100%;
  top: auto;
  z-index: 99;
  border-radius: 0;
  background: url(../img/pointslide2.png);
  background-size: 100% 100%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.pagination li.active span,
.pagination li.active a {
  background: #ffc934;
  color: #717378;
  border: 1px solid #ffc934;
  margin: 0 3px;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination li.next a {
  margin-left: 10px;
  height: 33px;
  width: 34px;
  font-size: 0;
  border: 1px solid #ffc934;
  left: auto;
  right: 0;
  bottom: 100%;
  top: auto;
  z-index: 99;
  border-radius: 0;
  background: url(../img/pointslide2.png);
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pagination li.pager-last a {
  margin-left: 5px;
  height: 33px;
  width: 68px;
  font-size: 0;
  border: 1px solid #ffc934;
  left: auto;
  right: 0;
  bottom: 100%;
  top: auto;
  z-index: 99;
  border-radius: 0;
  background: url(../img/pointslide2.png);
  background-size: auto 100%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.main-container {
  margin-top: 20px;
}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container_768 {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.youtube-container--responsive {
  height: 300px;
}
.main-header .main-title {
  background-size: cover;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 80px;
  margin-bottom: 40px;
  max-height: 280px;
}
.main-header .main-title h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
}
.history-article-img:not(:first-child) {
  margin-top: 30px;
}
.history-article-img:first-child {
  margin-top: 0px;
}
.social-icons a {
  height: 27px;
  width: 64px;
  display: inline-block;
  line-height: 1 !important;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  margin-left: -2px;
  margin-right: -2px;
  position: relative;
  border: 1px solid #ffc934;
  cursor: pointer;
}
.social-icons a.facebook_icon {
  border-right: none;
}
.main-header .social-icons a {
  font-size: 32px;
}
.social-icons a.facebook_icon::before {
  position: absolute;
  content: "";
  top: 50%;
  margin-left: -4.5px;
  margin-top: -10px;
  width: 9px;
  height: 20px;
  background: url(../img/sprite.png);
  background-position: -55px 0px;
}
.social-icons a.twitter_icon::before {
  position: absolute;
  content: "";
  top: 55%;
  margin-left: -4.5px;
  margin-top: -10px;
  background: url(../img/sprite.png);
  background-position: -70px -2px;
  width: 19px;
  height: 20px;
  left: 45%;
}
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.central-content {
  width: 64%;
}
.right-content {
  width: 36%;
}
.clearfix {
  clear: both;
}
.right-content {
  padding: 0px 15px;
}
.right-content .widget {
  width: 100%;
  margin-left: 15px;
}
.widget-title {
  color: #27282C;
  font-size: 19px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  border-bottom: 2px solid #E6E8ED;
  padding-bottom: 11px;
  margin-bottom: 17px;
}
.widget-title::before {
  position: absolute;
  content: "";
  width: 61px;
  height: 2px;
  left: 0;
  bottom: -2px;
  background: #ffc934;
}
.widget-body {
  margin: 0px auto;
}
.widget-body .info-block-container {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
/* ==================================== */
/*		  	  News
/* ==================================== */
.news-block {
  max-width: 1190px;
  width: 100%;
  margin: 36px auto 0px;
}
.news-block h2.block-title {
  font-size: 19px;
  color: #27282c;
  text-transform: uppercase;
  border-bottom: 2px solid #e8eaef;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  position: relative;
  font-weight: 300;
  color: #717378;
}
.news-block h2.block-title span {
  font-weight: 900;
  color: #27282c;
}
.news-block h2.block-title:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 167px;
  height: 2px;
  background: #ffc934;
}
.news-block .view-news {
  margin-top: -32px;
  z-index: 5;
  text-align: right;
  position: relative;
}
.news-block .view-header {
  display: inline-block;
  text-align: right;
  position: relative;
}
.news-block .view-header a {
  right: 0;
  top: -22px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #717378;
  text-align: center;
  text-transform: uppercase;
  padding: 6.9px 10px;
  padding-right: 41px;
  border: 1px solid #ffc934;
  position: relative;
}
.news-block .view-header a:before {
  position: absolute;
  content: "";
  top: 0px;
  right: 0;
  height: 30px;
  width: 33px;
  background-image: url(../img/pointslide2.png);
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-right: 1px solid #ffc934;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-top: none;
}
.news-block .view-header a:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  height: 5px;
  width: 110%;
  background: #fbfbfd;
  z-index: -1;
}
/* -------------------- */
/* Header for news-page */
#single-news-page {
  max-width: 1190px;
  width: 100%;
  margin: 36px auto 0px;
}
#single-news-page .view-news {
  margin-top: -50px;
  margin-bottom: 30px;
}
.view-numbers-of-news {
  display: inline-block;
  font-size: 14px;
  color: #717378;
  font-weight: bold;
  position: relative;
  top: 5px;
}
.view-numbers-of-news::before {
  position: absolute;
  content: "";
  right: -380px;
  top: 20px;
  height: 5px;
  width: 380px;
  background: #FBFBFD;
}
.news-view-filters {
  margin-left: 10px;
}
.view-news-single-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.news-view-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -8px;
}
.news-view-filter-item {
  border: 1px solid #ffc934;
  position: relative;
  z-index: 99;
  margin: 0 2px;
  border-radius: 0;
  margin: 0 5px;
}
.news-view-filter-item::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
  background: url(../img//pointslide2.png);
  background-size: 100% 100%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-top: 1px solid #ffc934;
  z-index: -1;
}
.news-view-filter-item select {
  position: relative;
  padding: 7px 18px;
  padding-right: 41px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #717378;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  border: none;
}
/* End of Header for news-page */
/* -------------------- */
.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* flex-wrap: wrap; */
  margin: 10px 0;
}
.news-item {
  padding: 0;
  min-width: 20%;
  /* width: 25%; */
  margin: 0px 5px;
}
.youtube-news {
  cursor: pointer;
}
.youtube-news::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: url(../img/youtube-button.png);
  background-size: 100% 100%;
  cursor: pointer;
}
.youtube-news:hover::after {
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}
.news-item-media-block {
  position: relative;
}
.news-item-image img {
  padding: 0px;
  /* height: 202px; */
  width: 100%;
  /* margin-bottom: -3px; */
}
.news-item-image a {
  height: 0;
}
.news-item-image a:before {
  content: "";
  height: 0px;
}
.news-item-meta {
  position: absolute;
  background: #ffc934;
  left: 0;
  bottom: 0;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news-date {
  margin-right: 5px;
}
.news-item-title {
  background: #eef5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 113px;
}
.news-item-title:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background: url(../img/pointersnews1.png);
  background-size: 100% 100%;
}
.news-item-title span {
  display: block;
  margin: auto 0;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 5;
  max-height: 77px;
  overflow: hidden;
}
.news-item-title span a {
  font-size: 18px;
  color: #27282c;
  font-weight: bold;
}
.main-header .history-dates {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding: 0 60px;
}
.main-header .history-dates::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background: #E8EAEF;
}
.history-point .history-point-item {
  border-radius: 50%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #E8EAEF;
  width: 52px;
  height: 52px;
  background: #FBFBFD;
  cursor: pointer;
}
.history-point .history-point-item:hover {
  border-color: #ffc934;
}
.history-point .history-point-item span {
  margin: auto;
}
.history-point .history-point-wrapper {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 365px;
  background: #fff;
  -webkit-box-shadow: -3px 0 23px rgba(0, 0, 0, 0.9);
          box-shadow: -3px 0 23px rgba(0, 0, 0, 0.9);
  left: -35px;
  top: 150%;
  opacity: 1;
  z-index: 99;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.history-point:nth-child(3) .history-point-wrapper,
.history-point:nth-child(4) .history-point-wrapper,
.history-point:nth-child(5) .history-point-wrapper {
  left: auto;
  right: -35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.history-point .history-point-item:hover .history-point-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.history-point .history-point-wrapper::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 24px;
  top: -18px;
  left: 41px;
  margin-left: 0;
  background: url(../img/infopoint.png);
}
.history-point:nth-child(3) .history-point-wrapper:before,
.history-point:nth-child(4) .history-point-wrapper:before,
.history-point:nth-child(5) .history-point-wrapper:before {
  left: auto;
  right: 38px;
}
.history-point .history-point-content {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 63%;
      flex-basis: 63%;
  text-align: left;
  padding: 26px;
  color: #6E6E77;
  font-size: 16px;
}
.history-point .history-point-logo {
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 37%;
      flex-basis: 37%;
}
.history-article-img {
  margin-bottom: 15px;
  border-radius: 5px;
}
.history-article-img img {
  width: 100%;
}
.history-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 131px;
  overflow: hidden;
  margin-bottom: 50px;
}
.history-article .meta {
  width: 25%;
}
.history-article .year {
  font-size: 36px;
  color: #ffc934;
  font-family: 'PF Din Text Cond Pro XBlack';
  margin-bottom: 10px;
}
.history-article .meta p {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #717378;
  text-transform: uppercase;
  padding: 7px 10px;
  padding-right: 50px;
  border: 1px solid #ffc934;
  height: 34px;
  cursor: pointer;
  width: 140px;
}
.history-article .meta p::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
  background: url(../img/pointslide2.png);
  background-size: 100% 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-top: 1px solid #ffc934;
}
.meta-more-active::before {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
  border-bottom: 1px solid #ffc934!important;
}
.history-article-content {
  width: 75%;
  margin-bottom: 40px;
  height: 100%;
  overflow: hidden;
  -webkit-transition: height 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
}
.hist-open {
  height: auto;
}
.history-article-content p {
  font-size: 18px;
  line-height: 1.4;
  color: #6E6E77;
  margin: 0 0 10px;
}
.history-article-content p:last-child {
  margin-bottom: 0;
}
.history-article-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 33px;
}
.article-footer-left-part {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFC934;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
  line-height: 1.4;
}
.article-footer-right-part {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px;
  background: #EEF5F8;
  font-size: 16px;
  color: #27282C;
  line-height: 1.4;
}
.emblem,
.hymn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.emblem img,
.hymn img {
  max-width: 263px;
  display: inline-block;
}
.emblem-logo,
.hymn-logo {
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
  padding-right: 20px;
}
.hymn-logo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffc934;
  color: #27282C;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}
.emblem-conent,
.hymn-conent {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.emblem-conent h3,
.hymn-conent h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #27282C;
  text-transform: uppercase;
}
.emblem-conent p,
.hymn-conent p {
  margin: 0 0 10px;
  color: #6E6E77;
  font-size: 18px;
  line-height: 1.4;
}
.emblem-conent .download-button,
.hymn-conent .download-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.emblem-conent .download-button a,
.hymn-conent .download-button a {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #717378;
  text-transform: uppercase;
  display: block;
  border: 1px solid #ffc934;
  padding: 6px 15px;
  padding-right: 45px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.emblem-conent .download-button a::before,
.hymn-conent .download-button a::before {
  position: absolute;
  content: "";
  right: 0px;
  width: 31px;
  height: 32px;
  margin-top: -8px;
  background: url(../img/sprite.png);
  background-position: -108px -51px;
  border-left: 1px solid #ffc934;
}
.hymn-conent .audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.infrastructure-title {
  font-size: 18px;
  color: #27282C;
  font-weight: bold;
  margin-bottom: 15px;
}
.infrastructure-logo img {
  width: 100%;
}
.infrastructure-sublogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.infrastructure-sublogo-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 17px;
  color: #27282C;
  padding: 11px 0;
}
.infrastructure-sublogo-item:nth-child(2n-1) {
  background: #EEF5F8;
}
.infrastructure-content {
  font-size: 18px;
  color: #6E6E77;
  margin-bottom: 35px;
  line-height: 1.4;
}
.slick-prev:before,
.slick-next:before {
  line-height: 0.4;
}
.slick-prev,
.slick-next {
  z-index: 1;
  width: 40px;
  height: 35px;
  border: 1px solid #fff;
}
.slick-prev {
  left: 20px;
}
.slick-next {
  right: 20px;
}
.slick-slide {
  margin: 0 5px;
}
/* the parent */
.slick-list {
  margin: 0 -5px;
}
.leaderships-item {
  padding: 1em 0 3.3em 0;
  margin: 0 1em 0 1em;
  border-bottom: 1px dotted #D3D7D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}
.leaderships-item:last-child {
  border-bottom: none;
  padding-bottom: 0.3em;
}
.leadership-img {
  width: 37%;
  background: #fff;
}
.leadership-img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.leadership-main {
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.leadership-title {
  font-size: 18px;
  color: #27282C;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 30px;
  line-height: 1.4;
}
.leadership-subtitle {
  background: #EEF5F8;
  font-size: 18px;
  color: #6E6E77;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 30px;
}
.leadership-content {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 30px;
  padding-right: 20px;
  position: relative;
  height: 160px;
  overflow: hidden;
  outline: none;
}
#overable:hover {
  overflow-y: scroll;
}
.leadership-content p,
.leadership-content ul {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}
.leadership-content::-webkit-scrollbar-track {
  background-color: #EEF5F8;
}
.leadership-content::-webkit-scrollbar {
  width: 10px;
}
.leadership-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffc934;
}
.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 111px;
  padding-left: 185px;
  position: relative;
  margin-bottom: 10px;
  background: #FFFFFF;
}
.contact-title {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: 16px;
  font-weight: bold;
  color: #27282C;
  text-transform: uppercase;
}
.contact-title-addres::before,
.contact-title-phone::before,
.contact-title-fax::before,
.contact-title-mail::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 165px;
  height: 111px;
  background: url(/img/kontaksprite.png);
}
.contact-title-phone::before {
  background-position: -172px 0;
}
.contact-title-fax::before {
  background-position: -344px 0;
}
.contact-title-mail::before {
  background-position: -515px 0;
}
.contact-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  font-size: 18px;
  color: #6E6E77;
  padding-right: 73px;
}
.map {
  width: 100%;
  height: 450px;
  margin-bottom: 30px;
}
.press-atashe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.press-atashe-content {
  margin-left: 20px;
}
.press-atashe-content h2 {
  font-size: 26px;
  font-family: arial, helvetica, sans-serif;
  margin: 20px 0;
  text-transform: uppercase;
}
.press-atashe-content h3 {
  font-size: 20px;
  font-style: italic;
  font-family: arial, helvetica, sans-serif;
  margin-bottom: 15px;
}
.press-atashe-content p {
  font-size: 16px;
  line-height: 1.4;
}
.press-atashe-content span {
  font-style: italic;
}
.press-atashe-content p a {
  font-style: italic;
  color: #337ab7!important;
  text-decoration: none;
}
.zvit-content {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 30px;
}
.zvit-download {
  overflow: hidden;
}
.zvit-download img {
  margin-right: 5px;
  vertical-align: middle;
}
.zvit-download a {
  color: #337ab7;
  text-decoration: none;
  font-size: 14px;
}
/* ==================================== */
/*		  	  Footer		
/* ==================================== */
footer {
  width: 100%;
  height: 100%;
  position: relative;
}
.social-block {
  max-width: 1190px;
  margin: 15px auto;
}
.social-block .field-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-block > .field-items > .field-item:nth-child(2n-1) {
  background: #eef5f8;
}
.social-block > .field-items > .field-item {
  width: 24%;
  padding: 30px 24px;
}
.social-block > .field-items > .field-item > div {
  width: 100%;
  padding: 0;
}
.field-item > div::before {
  content: " ";
  display: table;
}
.field-name-field-title {
  font-size: 19px;
  color: #27282c;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.field-name-field-link {
  border: 1px solid #ffc934;
  padding-left: 58px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.field-item-icon-fb,
.field-item-icon-yt,
.field-item-icon-tw,
.field-item-icon-inst {
  border: 1px solid #ffc934;
}
.field-item-icon-fb::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  background: url(../img/sprite.png);
}
.field-item-icon-fb::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  background: url(../img/sprite.png);
  background-position: -128px 0px;
  left: 24px;
  width: 11px;
  height: 24px;
  margin-top: -12px;
}
.field-item-icon-yt::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  background: url(../img/sprite.png);
  background-position: -208px -3px;
  left: 15px;
  width: 26px;
  height: 18px;
  margin-top: -9px;
}
.field-item-icon-inst::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  background: url(../img/sprite.png);
  background-position: -180px -1px;
  left: 16px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
}
.field-item-icon-tw::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  background: url(../img/sprite.png);
  left: 17px;
  width: 26px;
  height: 22px;
  margin-top: -11px;
  background-position: -146px 0px;
}
.field-name-field-link a {
  display: block;
  text-align: center;
  font-size: 17px;
  color: #27282c;
  font-weight: 300;
  padding: 10px 20px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.field-name-field-link a:hover {
  text-decoration: none;
  background: #ffc934;
}
section.footer-wrap {
  border: none;
  background: #27282C;
  margin: 0;
  margin-top: 5px;
  width: 100%;
  padding: 21px 15px;
}
.footer {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0px auto;
}
.footer h2 {
  font-size: 19px;
  color: #FAFAFC;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.general-partner {
  width: 25%;
  height: 100%;
}
.general-partner-img {
  height: 100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.partners {
  width: 75%;
  height: 100%;
}
.partners-items-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.partners-items-wrap a {
  min-width: 25%;
}
.partner-img {
  height: 100px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.copyright {
  display: block;
  border-top: 1px solid #2C2D32;
  font-size: 12px;
  color: #55565B;
  padding: 10px 21px;
  margin-top: 25px;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.copyright a {
  color: #ffc934;
}
/* ==================================== */
/*		  	  Navigaton Footer Menu		
/* ==================================== */
.menu-bottom-wrap {
  background-color: #eef5f8;
  height: 54px;
  width: 100%;
  border-top: 1px solid #fff;
}
.menu-bottom {
  margin: 0 auto;
  max-width: 1000px;
}
.menu-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu-bottom li {
  width: 100%;
  height: 54px;
  text-align: center;
  line-height: 54px;
}
.menu-bottom li > a {
  color: #232428;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  /* position: relative; */
}
.menu-bottom li.menu-item:hover:not(.current-menu-item) {
  border-top: 3px solid #ffc934;
}
.menu-bottom li.menu-item:hover {
  margin-top: -6px;
  /* border: 1px solid red; */
}
.menu-bottom li.menu-item:hover a {
  /* color: red; */
  /* padding-top: 20px; */
}
.menu-bottom-wrap .menu-bottom ul.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: auto;
  bottom: 51px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-bottom: 3px solid #ffc934;
  border-radius: 4px 4px 0px 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.menu-bottom-wrap .menu-bottom li.menu-item-has-children ul.sub-menu > li:hover {
  background: #eee;
  border-top: none;
}
