/*(1200 и больше) Large Devices, Wide Screens */
/*(992-1199) Medium Devices1, Desktops1 */
/*(768-991) Medium Devices2, Desktops2 */
/*(576-767) Small Devices, Tablets */
/*(321-575) Extra Small Devices, Phones */
/*(320 и меньше) Custom, iPhone Retina */
/* ----------------- ЗНАЧЕНИЕ И БОЛЬШЕ -----------------*/
/*321 и больше */
/*576 и больше */
/*769 и больше */
/*992 и больше */
/*1201 и больше */
/* ----------------- ЗНАЧЕНИЕ И МЕНЬШЕ -----------------*/
/*1200 и меньше */
@media only screen and (max-width: 1200px) {
  .shop img {
    max-width: 95%;
  }
  #single-news-page {
    width: 95%;
    margin: 36px 15px;
  }
}
/*1100 и меньше */
@media only screen and (max-width: 1100px) {
  header {
    height: 234px;
  }
  .header-top-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main-logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 50%;
  }
  .search-and-social-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .menu-top {
    margin-top: 10px;
  }
  .info-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .info-block-container {
    width: 40%;
  }
  .info-table {
    width: 90%;
    height: 250px;
  }
  .news-block {
    max-width: 1000px;
  }
  .shop img {
    max-width: 90%;
  }
}
/*991 и меньше */
@media only screen and (max-width: 991px) {
  header {
    height: 224px;
  }
  .menu-top-wrap,
  .menu-bottom-wrap {
    height: 44px;
  }
  .menu-top,
  .menu-bottom {
    line-height: 44px;
  }
  .menu-top li,
  .menu-bottom li {
    height: 46px;
    line-height: 44px;
  }
  .menu-top li > a,
  .menu-bottom li > a {
    font-size: 15px;
  }
  .menu-top-wrap ul.sub-menu {
    top: 43px;
    min-width: 150px;
  }
  .menu-bottom-wrap .menu-bottom ul.sub-menu {
    bottom: 41px;
    min-width: 150px;
  }
  ul.sub-menu a {
    padding: 14px;
  }
  .news-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-item {
    max-width: 40%;
    margin: 15px 0px;
  }
  .social-block .field-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .social-block > .field-items > .field-item {
    width: 34%;
    padding: 30px 24px;
  }
  .social-block > .field-items > .field-item:nth-child(2n-1) {
    background: transparent;
  }
  .social-block > .field-items > .field-item:first-child,
  .social-block > .field-items > .field-item:last-child {
    background: #eef5f8;
  }
  .general-partner {
    width: 35%;
  }
  .partners {
    width: 65%;
    margin-left: 30px;
  }
  .footer h2 {
    text-align: center;
  }
  .partners-items-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners-items-wrap a {
    min-width: 40%;
  }
  .partner-img {
    background-size: 60%;
  }
}
/*880 и меньше */
/*768 и меньше */
@media only screen and (max-width: 768px) {
  header {
    height: 180px;
  }
  .menu-top-wrap {
    display: none;
  }
  .menu-bottom-wrap {
    display: none;
  }
  .main-logo img {
    max-height: 80px;
    margin-left: 10px;
  }
  .logo-content h1 {
    font-size: 16px;
  }
  .logo-content h2 {
    font-size: 11px;
  }
  .sponsor img {
    max-width: 140px;
  }
  .info-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-block-container {
    width: 90%;
    height: 250px;
  }
  .news-item {
    max-width: 80%;
    margin: 10px 0px;
  }
  .news-item-meta {
    font-size: 12px;
  }
  .news-item-title {
    height: 100px;
  }
  .news-item-title:before {
    width: 30%;
  }
  .field-name-field-link a {
    font-size: 15px;
    padding: 10px 10px;
  }
  /* ==================================== */
  /*		  	  Mobile Navigaton Menu		
/* ==================================== */
  .menu-wrap {
    background-color: #27282c;
    position: fixed;
    top: 0;
    height: 100%;
    min-width: 280px;
    display: block;
    margin-left: -280px;
    overflow: auto;
    -webkit-transition: .25s;
    transition: .25s;
    z-index: 10;
  }
  .menu-show {
    margin-left: 0;
    -webkit-box-shadow: 4px 2px 15px 1px #B9ADAD;
            box-shadow: 4px 2px 15px 1px #B9ADAD;
  }
  .menu-sidebar {
    margin: 45px 0px 0px 10px;
    position: relative;
    top: 0px;
  }
  .menu-sidebar > ul > li {
    padding: 18px 22px 0;
  }
  .menu-sidebar li > a {
    color: #f3f3f3;
    font-size: 20px;
    position: relative;
  }
  .menu-sidebar li ul li {
    padding: 14px 15px 3px;
  }
  .menu-sidebar li ul li > a {
    font-size: 16px;
  }
  .menu-sidebar .menu-item-has-children {
    position: relative;
  }
  .menu-sidebar .menu-item-has-children .sub-menu {
    display: none;
  }
  .menu-wrap .sidebar-menu-arrow::after {
    content: "\f107";
    font-family: 'FontAwesome';
    padding: 10px;
    color: #fff;
    position: relative;
  }
  li.menu-item:hover > a {
    color: #f3f3f3;
  }
  li.menu-item a:hover {
    color: #ffc934;
  }
  .sidebar-menu-arrow:hover::after {
    cursor: pointer;
    color: #ffc934;
  }
  .sidebar-menu-arrow:hover .menu-sidebar li a {
    color: #f3f3f3;
  }
  .sidebar-menu-arrow:active::after {
    top: 2px;
  }
  ul.sub-menu a {
    padding: 0px;
  }
  /*Hamburger Button*/
  .toggle-button {
    position: fixed;
    width: 44px;
    height: 40px;
    top: 5px;
    left: 3px;
    padding: 4px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    z-index: 15;
    display: block;
    border: 1px solid grey;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  .toggle-button:hover {
    cursor: pointer;
  }
  .toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .toggle-button .menu-bar-top {
    border: 4px solid #555;
    border-bottom: none;
    top: 5px;
  }
  .toggle-button .menu-bar-middle {
    height: 4px;
    background-color: #555;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 9px;
  }
  .toggle-button .menu-bar-bottom {
    border: 4px solid #555;
    border-top: none;
    top: 27px;
  }
  .button-open {
    /* left: 25px; */
  }
  .button-open .menu-bar-top {
    border-color: #fff;
    -webkit-transform: rotate(45deg) translate(8px, 8px);
            transform: rotate(45deg) translate(8px, 8px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .button-open .menu-bar-middle {
    background-color: #fff;
    /* transform: translate(230px); */
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    opacity: 0;
  }
  .button-open .menu-bar-bottom {
    border-color: #fff;
    -webkit-transform: rotate(-45deg) translate(7px, -7px);
            transform: rotate(-45deg) translate(7px, -7px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
/*621 и меньше */
@media only screen and (max-width: 621px) {
  .social-block > .field-items > .field-item {
    width: 54%;
    padding: 30px 24px;
  }
  .social-block > .field-items > .field-item:nth-child(1n),
  .social-block > .field-items > .field-item:last-child {
    background: transparent;
  }
  .social-block > .field-items > .field-item:nth-child(2n) {
    background: #eef5f8;
  }
  .news-item {
    max-width: 95%;
  }
  .view-news-single-page {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-view-filters {
    margin-top: 35px;
    margin-left: 0;
  }
  #single-news-page .view-news {
    margin-bottom: 10px;
  }
  .news-view-filter-item select {
    padding: 3px 7px;
    padding-right: 34px;
    font-size: 13px;
  }
  .news-view-filter-item::before {
    width: 22px;
    height: 22px;
  }
  .news-block h2.block-title {
    margin-left: 0;
  }
  .pagination-wrapper {
    display: none;
  }
}
/*576 и меньше */
@media only screen and (max-width: 576px) {
  header {
    height: 190px;
    margin-top: 10px;
  }
  .main-logo img {
    margin-left: 40px;
  }
  .search-and-social-block {
    display: block;
    width: 90%;
    margin: 10px auto 0;
  }
  .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-and-social-block .social ul {
    margin: 10px 0;
  }
  .social li {
    margin: 0 10px;
  }
  .breadcrumb-wrapper {
    display: none;
  }
  .youtube-news::after {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
  }
  .youtube-news:hover::after {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
  }
  .news-item-meta {
    font-size: 13px;
  }
  .news-item-title span a {
    font-size: 16px;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer h2 {
    margin: 0;
  }
  .general-partner {
    width: 100%;
  }
  .partners {
    width: 100%;
    margin-left: 0px;
  }
  .general-partner-img {
    width: 70%;
    margin: 0 auto;
  }
  .partner-img {
    background-position: center;
  }
  .copyright {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .copyright span {
    display: block;
  }
  .pull-left,
  .pull-right {
    float: none !important;
    text-align: center;
  }
  .pull-right {
    margin-top: 13px;
  }
}
/*400 и меньше */
@media only screen and (max-width: 400px) {
  .sponsor img {
    display: none;
  }
  .social-block > .field-items > .field-item {
    width: 235px;
    padding: 30px 24px;
  }
  .general-partner-img {
    width: 100%;
  }
}
/*320 и меньше */
