/* ==================================== */
/*		  	  Main part		
/* ==================================== */

main {
    /* width: 100%; */
    /* height: 150px; */
    position: initial;
  }
  
  /* Ads */
  /*------------------------------------- */
  .ads-block-top {
    display: flex;
    background-color: #ccc;
  }
  
  .ads-block-top img {
    max-height: 120px;
    max-width: 100%;
    margin: 15px auto;
  }
  
  .info-block-wrap {
    max-width: 1190px;
    margin: auto;
  }
  
  .info-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .info-block-container,
  .info-table {
    min-width: 350px;
    width: 30%;
    max-width: 90%;
    height: 200px;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    margin: 15px 0px;
  }