h1.page-header__matches-calendar::before {
        width: 95px;

}

.info-block-container__wo-top-border {
        border-top: none;
        // width: 90%;
        //     margin: 15px 15%;
}

.matches-calendar .matches-standings__filter{
        display: flex;
}

.matches-standings__filter-item:nth-child(2){
        margin-left: 10px;
}

.matches-calendar-table,
.matches-center-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
}

.matches-calendar-table__caption {
        font-size: 19px;
        color: #27282C;
        text-transform: uppercase;
        padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    font-weight: 700;
    font-family: 'PF Din Text Cond Pro XBlack';
}

.matches-calendar-table tr {
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
}

.matches-calendar-table tr:nth-child(2n-1) {
        background: #EEF5F8;
        border-top: 1px solid #EEF5F8;
        border-bottom: 1px solid #EEF5F8;
}

.matches-calendar-table td{
        border: none;
        flex-grow: 1;
        text-align: center;
        color: #27282C;
        font-size: 18px;
        height: 45px;
        padding: 0;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        border-right: 1px solid #E0E8EC;
    }

    .matches-calendar-table td span{
display: block;
margin: auto;
    }

    .matches-calendar-table td img{
        display: inline-block;
}

.matches-calendar-table td.matches-calendar-table__td--where{
        flex-basis: 50px;
        flex-grow: 0;
}

.matches-calendar-table td.matches-calendar-table__td--where span{
        color: #fff;
        background: #27282C;
        flex-grow: 1;
        height: 45px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:center;
}

.matches-calendar-table td.matches-calendar-table__td--where span.home{
        background: #ffc934;
    color: #27282C;
}

.matches-calendar-table td.matches-calendar-table__td--command-home{
        border: none;
        flex-basis: 180px;
}

.matches-calendar-table td.matches-calendar-table__td--command-home span{
        margin-right: 20px;
}

.matches-calendar-table td.matches-calendar-table__td--command-away{
        flex-basis: 180px;
    justify-content: start;
}

.matches-calendar-table td.matches-calendar-table__td--command-away span{
        margin-left: 20px;
}

.matches-calendar-table td span.club-name{
        font-weight: bold;
}

.matches-calendar-table td.matches-calendar-table__td--score{
        border: none;
        flex-basis: 70px;
        flex-grow: 0;
}

.matches-calendar-table td.matches-calendar-table__td--score a{
        font-size: 18px;
    color: #ffc934;
    font-weight: bold;
}

.matches-calendar-table td.matches-calendar-table__td--tournament{
        border: none;
        flex-basis: 180px;
}



//***************************
//Matches Center Single Page
//***************************
.matches-center__horizontal-tabs-list{
        width: 100%;
}

ul.horizontal-tabs-list{
        display: flex;
        background: #27282C;
        padding: 5px 0;
        margin: 0;
    border: 0;
    position: relative;
    list-style: none;
    list-style-image: none;
    width: 100%;
}

ul.horizontal-tabs-list li{
        flex-basis: 25%;
}

ul.horizontal-tabs-list li{
        flex-basis: 25%;
}

ul.horizontal-tabs-list li.active{
        // padding: 0 0 1px 0;
}

ul.horizontal-tabs-list li {
        display: block;
        text-decoration: none;
        padding: 8px 0;
        position: relative;
        top: 0px;    
        font-size: 17px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        background: transparent !important; 
        text-align: center;
}

ul.horizontal-tabs-list li.active {
        color: #ffc934;  
}

.group-protocol{
        width: 100%;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
}

.group-protocol__item{
        width: 49%;
}

.team-block-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;  
        flex-wrap: wrap;
}

.group-protocol h3{
        margin-top: 0;
    flex-basis: 100%;
    font-size: 18px;
    color: #6E6E77;
    font-weight: 300;
    border-bottom: 2px solid #E8EAEF;
}

.group-protocol h3 span{
        color: #27282C;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 2px solid #ffc934;
    top: 2px;
}

.group-protocol .team-block{
        display: block;
        flex-basis: 50%;
    padding: 0 10px;
    margin-bottom: 15px;
}

.team-block__team-name{
        font-size: 16px;
    color: #717378;
    padding: 2px;
    border: none;
    font-weight: 400;
}

.team-name--main{
        font-size: 18px;
        font-weight: 800; 
        color: #000;
}

.team-block__item{
        display: flex;
}

.team-block__item--player,
.team-block__item--goals_time,
.team-block__item--player_card{
        font-size: 16px;
        color: #27282C;
        padding: 5px;
        border: none;
}

.warning-card__yellow{
        position: relative;
    display: inline-block;
    width: 15px;
    height: 20px;
    background-image: url(../img/sprite.png);
    background-position: -59px -90px;
    box-shadow: 1px 1px 1px #333;
}

.matches-center-table{
        // border-collapse: collapse;
        border-spacing:0px;
}

.matches-center-table th{
        font-size: 16px;
        color: #717378;
        // padding: 2px;
        border: none;
        text-align: left;  
}

.matches-center-table td{
        font-size: 17px;
        color: #27282C;
        padding: 5px 2px;
}

.matches-center-table tr:nth-child(2n),
.referee-block .referee-block__item:nth-child(2n),
.team-block .team-block__item:nth-child(n+1):nth-child(odd){
        background-color: #f3f3f3;
}

.referee-block{
        width: 100%;
    margin-top: 15px;
    padding: 0 10px;
}

.referee-block__item{
        display: flex;
        padding: 5px;
}

.team-block__referee{
        flex-basis: 40%;
        font-size: 16px;
        color: #717378;
        font-weight: 400;
}

.team-block__referee-name{
        flex-basis: 60%;
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        color: #27282C;
}

.tabs__content {
        display: none;
}
.tabs__content.active {
	display: block;
}

.with-margin-top{
        margin-top: 15px;
}

.with-vertical-margin{
        margin: 15px auto;
}

.match-foto img{
  width: auto;
  margin: 0 auto;
}