@media only screen and (max-width: 991px) {
  header {
    height: 224px;
  }
  .menu-top-wrap,
  .menu-bottom-wrap {
    height: 44px;
  }
  .menu-top,
  .menu-bottom {
    line-height: 44px;
  }
  .menu-top li,
  .menu-bottom li {
    height: 46px;
    line-height: 44px;
  }
  .menu-top li > a,
  .menu-bottom li > a {
    font-size: 15px;
  }
  .menu-top-wrap ul.sub-menu {
    top: 43px;
    min-width: 150px;
  }
  .menu-bottom-wrap .menu-bottom ul.sub-menu {
    bottom: 41px;
    min-width: 150px;
  }
  ul.sub-menu a {
    padding: 14px;
  }
  .news-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .news-item {
    max-width: 40%;
    margin: 15px 0px;
  }
  .social-block .field-items {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .social-block>.field-items>.field-item {
    width: 34%;
    padding: 30px 24px;
  }
  .social-block>.field-items>.field-item:nth-child(2n-1) {
    background: transparent;
  }
  .social-block>.field-items>.field-item:first-child,.social-block>.field-items>.field-item:last-child {
    background: #eef5f8;
  }

  .general-partner{
    width: 35%;
  }
  .partners{
    width: 65%;
    margin-left: 30px;
  }

  .footer h2{
    text-align: center;
  }

  .partners-items-wrap{
    flex-wrap: wrap;
  }
  .partners-items-wrap a{
    min-width: 40%;
  }

  .partner-img{
    background-size: 60%;
  }

  .container{
    max-width: 970px;
  }

  .main-content.media_991{
    display: block;
  }
  
  .main-content.media_991 .central-content{
      width: 100%;
  }
  
  .main-content.media_991 .right-content{ 
      width: 100%;
  }

  .main-header .history-dates,
  .main-header .main-title{
    margin-bottom: 30px;
}

  .history-article .meta{
    text-align: center;
  }
  .history-article .meta p::before {
    content: none;
  }

  .history-article .meta p{
    width: 110px;
  }

  .right-content {
    padding-left: 0px;
}

.right-content .widget{
  margin-left: 0px;
}

.team-block{
flex-wrap: wrap;
}

.team-block-items-wrapper{
width: 100%;
}

.team-block-title h3{
margin-top: -10px;
}

.non-players{
  width: 31%;
}

}
