@media only screen and (max-width : 1200px) {
    .shop img {
      max-width: 95%;
    }
    #single-news-page {
      width: 98%;
      margin: 36px 4px;
    }


    .team-single-header-content p.birthday{
      margin-top: 10px;
    }

    .team-single-header-content p.civil-title{
      margin-top: 10px;
    }
    .team-single-header-content p.surname{
      font-size: 56px;
    }

    .team-single-header-img img{
      height: 309px;
    }

    .team-single-header .players-number{
      font-size: 83px;
      right: 40px;
    }

    .team-container{
      max-width: 940px!important;
    }

    .team-single-subheader-middle{
      padding-left: 238px;
  }

  .team-single-subheader-middle-goalkeepers{
    padding-left: 260px;
  }
  }