@media only screen and (max-width: 576px) {
    header{
        height: 190px;
        margin-top: 10px;
    }
    .main-logo img {
        margin-left: 40px;
      }

      .search-and-social-block{
          display: block;
          width: 90%;
          margin: 10px auto 0;
         
      }

      .social ul{
        display: flex;
        justify-content: center;
      }
	.search-and-social-block .social ul{
    margin: 10px 0;
    }
    .social li{
        margin: 0 10px;
    }

    .breadcrumb-wrapper{
      display: none;
    }
    .youtube-news::after {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
      }
      
      .youtube-news:hover::after {
        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: -30px;
      }

      .news-item-meta {
        font-size: 13px;
      }

      .news-item-title span a {
        font-size: 16px;
      }

      .footer{
        flex-wrap: wrap;
        justify-content: center;
      }
      .footer h2{
        margin: 0;
      //   margin-bottom: 10px;
    }

      .general-partner{
        width: 100%;
      }
      .partners{
        width: 100%;
        margin-left: 0px;
      }
      .general-partner-img{
        width: 70%;
        margin: 0 auto;
      }

      .partner-img{
        background-position: center;
      }

      .copyright{
        padding-top: 15px;
        padding-bottom: 0px;
      }
      
      .copyright span{
        display: block;
      }
      .pull-left, .pull-right {
        float: none !important;
        text-align: center;
    }

    .pull-right{
      margin-top: 13px;
    }
    
    .history-article .year{
      font-size: 26px;
    }

    .history-article .meta .meta-more p{
      margin: -2px auto;
    }
  
    .history-article-content p{
      font-size: 16px;
      line-height: 1.3;
    }

    .article-footer-left-part{
      width: 100%;
      padding: 15px;
      font-size: 15px;
    }

    .article-footer-right-part{
      width: 100%;
      font-size: 14px;
    }
}