@media only screen and (max-width: 768px) {
  header {
    height: 180px;
  }
  .menu-top-wrap {
    display: block;
  }
  .menu-bottom-wrap {
    display: none;
  }
  .main-logo img {
    max-height: 80px;
    margin-left: 10px;
  }
  .logo-content h1 {
    font-size: 16px;
  }
  .logo-content h2 {
    font-size: 11px;
  }

  .sponsor img {
    max-width: 140px;
  }

  .info-block {
    justify-content: center;
  }
  .info-block-container{
    width: 90%;
    height: 250px;
  }
  .news-item {
    max-width: 80%;
    margin: 10px 0px;
  }
  .news-item-meta {
    font-size: 12px;
  }

  .news-item-title {
    height: 100px;
  }

  .news-item-title:before {
    width: 30%;
  }
  .field-name-field-link a{
    font-size: 15px;
    padding: 10px 10px
  }
  
 

  /* ==================================== */
  /*		  	  Mobile Sidebar Menu		
/* ==================================== */

  .toggle-button {
    display: block;
  }

  .menu-top-wrap {
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    margin-left: 0px;
    margin-left: -280px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: 0.25s;
    z-index: 10;
    // display: none;
  }
  .menu-show {
    margin-left: 0;
    box-shadow: 4px 2px 15px 1px #b9adad;
  }
  .menu-top {
    // margin: 75px 0 80px 10px;
    position: relative;
    top: 70px;
  }
  .menu-top ul {
    flex-direction: column;
  }
  .menu-top li {
    padding: 18px 22px 0;
    text-align: left;
  }
  .menu-top li > a {
    color: #fff;
    font-size: 1.18em;
    position: relative;
  }
  .menu-top-wrap nav.menu-top li.menu-item:hover {
    background-color: transparent;
    border: none;
  }
  li.menu-item:hover > a {
    color: #fff;
  }
  .menu-top li a::after {
    content: "";
    display: block;
    height: 0.15em;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(
      to right,
      transparent 50.3%,
      #ffc934 50.3%
    );
    transition: background-position 0.2s 0.1s ease-out;
    background-size: 200% auto;
  }
  .menu-top li > a:hover::after {
    background-position: -100% 0;
  }
  .menu-top .menu-item-has-children {
    position: initial;
  }
  .menu-top .menu-item-has-children:hover > ul.sub-menu {
    display: none;

    border: none;
    /* min-width: 200px; */
  }
  .menu-top .menu-item-has-children .sub-menu {
    display: none;
    position: relative;
    border: none;
  }
  .menu-top .menu-item-has-children .sub-menu li {
    padding: 0;
  }
  .menu-top li.menu-item-has-children ul.sub-menu > li:hover {
    background: transparent;
  }
  .sidebar-menu-arrow::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding: 10px;
    color: #fffa3b;
    position: relative;
  }
  .sidebar-menu-arrow:hover::after {
    cursor: pointer;
    color: #fff;
  }
  .sidebar-menu-arrow:active::after {
    top: 2px;
  }
}
