@media only screen and (max-width: 991px) {
  header {
    height: 224px;
  }
  .menu-top-wrap,
  .menu-bottom-wrap {
    height: 44px;
  }
  .menu-top,
  .menu-bottom {
    line-height: 44px;
  }
  .menu-top li,
  .menu-bottom li {
    height: 46px;
    line-height: 44px;
  }
  .menu-top li > a,
  .menu-bottom li > a {
    font-size: 15px;
  }
  .menu-top-wrap ul.sub-menu {
    top: 43px;
    min-width: 150px;
  }
  .menu-bottom-wrap .menu-bottom ul.sub-menu {
    bottom: 41px;
    min-width: 150px;
  }
  ul.sub-menu a {
    padding: 14px;
  }
  .news-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .news-item {
    max-width: 40%;
    margin: 15px 0px;
  }
  .social-block .field-items {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .social-block>.field-items>.field-item {
    width: 34%;
    padding: 30px 24px;
  }
  .social-block>.field-items>.field-item:nth-child(2n-1) {
    background: transparent;
  }
  .social-block>.field-items>.field-item:first-child,.social-block>.field-items>.field-item:last-child {
    background: #eef5f8;
  }

  .general-partner{
    width: 35%;
  }
  .partners{
    width: 65%;
    margin-left: 30px;
  }

  .footer h2{
    text-align: center;
  }

  .partners-items-wrap{
    flex-wrap: wrap;
  }
  .partners-items-wrap a{
    min-width: 40%;
  }

  .partner-img{
    background-size: 60%;
  }

  .container{
    max-width: 970px;
  }

  .main-content.media_991{
    display: block;
  }
  
  .main-content.media_991 .central-content{
      width: 100%;
  }
  
  .main-content.media_991 .right-content{ 
      width: 100%;
  }

  .main-header .history-dates,
  .main-header .main-title{
    margin-bottom: 30px;
}

  .history-article .meta{
    text-align: center;
  }
  .history-article .meta p::before {
    content: none;
  }

  .history-article .meta p{
    width: 110px;
  }

  .right-content {
    padding-left: 0px;
}

.right-content .widget{
  margin-left: 0px;
}

.team-container{
  max-width: 750px!important;
}

.team-block{
flex-wrap: wrap;
}

.team-block-items-wrapper{
width: 100%;
}

.team-block-title h3{
margin-top: -10px;
}

.non-players{
  width: 31%;
}

.team-single-header-wrapper{
  // max-width: 750px;
  // margin: 0 auto;
}

.team-single-header{
  background: transparent;
}

.team-single-header-content{
  flex-basis: 100%;
  text-align: center;
  padding-left: 0;
}

.team-single-header-img{
  flex-basis: 100%;
}

.team-single-header-content p.name,
.team-single-header-content p.birthday,
.team-single-header-content p.civil-title{
  color: #ffc934;
}

.team-single-header-content p.surname{
  font-size: 42px;
}

.team-single-subheader{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}


.team-single-subheader-top,
.team-single-subheader-middle,
.team-single-subheader-bottom{
  flex-direction: column;
    padding: 0;
    width: 20%;
}

.team-single-subheader-top h3,
.team-single-subheader-bottom h3{
    font-size: 14px;
    flex-basis: 40px;
}

.team-single-subheader-top div,
.team-single-subheader-bottom div{
  height: 34px;
  display: flex;
}

.team-single-subheader-middle-wrap {
    padding: 0;
    padding-right: 25px;
}
.team-single-subheader-middle{
  flex-direction: column;
  padding: 0;
    position: relative;
    padding-top: 43px;
}

.team-single-subheader-middle::before {
  content: none;
}


.team-single-subheader-middle div{
  padding: 0;
  margin-bottom: 9px;
}

.team-single-subheader-middle div::after{
  position: absolute;
    content: "";
    width: 100px;
    margin-left: -50px;
    height: 3px;
    left: 50%;
    top: 50%;
    margin-top: -1.5px;
    background: #6E6E77;
    z-index: 1;
}

}
